* {
  font-family: "Cantarell", monospace;
  font-size: 14px;
}

window {
  margin: 0px;
  border: 2px solid #f9d0afff;
  border-radius: 10px;
  background-color: #0b0c0f;
}

#input {
  color: #f2e9e1;
  border: 1px solid #0b0c0fff;
  
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 10px;
  margin-bottom: 20px;
  
  background-color: #2A2A2Cff;
}

#input:focus {
  color: #f2e9e1;
  border: 1px solid #0b0c0fff;

  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 20px;

  box-shadow: none;
  background-color: #2A2A2Cff;
}

#input image {
  color: #f2e9e1;
}

#inner-box {
  margin: 5px;
  border: none;
  background-color: #2A2A2Cff;
  animation: fadeIn 0.2s ease-in-out both;
}

/* Fade In */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#outer-box {
  margin: 5px;
  border: none;
  background-color: #0b0c0f;
}

#scroll {
  margin: 0px;
  border: none;
}

#text {
  margin: 5px;
  border: none;
  color: #f2e9e1;
  animation: fadeIn 0.2s ease-in-out both;
}

#entry {
  background-color: #2A2A2Cff;
  margin: 10px;
  border-radius: 5px;
}

#entry:focus {
  background: rgb(249, 208, 175);
  color: rgb(11, 12, 15);
}

#entry:selected {
  background: rgb(249, 208, 175);
  color: rgb(11, 12, 15);
}

#text:selected {
  background: rgb(249, 208, 175);
  color: rgb(11, 12, 15);

}
