window {
  background-color: transparent;
}

/* Outer bar container, takes all the window width/height */
/* #outer-box {
  margin: 0px;
} */

/* Inner bar container, surrounds buttons */
#inner-box {
  background-color: #0b0c0f;
  border-radius: 10px;
  border-style: none;
  border-width: 0px;
  border-color: rgba (156, 142, 122, 0.7);
  opacity: 0.9;
  padding: 5px;
  margin: 5px;
}

button,
image {
  background: none;
  border: none;
  box-shadow: none;
}

button {
  padding-left: 10px;
  padding-right: 10px;
  margin: 5px;
}

button:hover {
  background-color: rgba (255, 255, 255, 0.1);
}
