* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: Cantarell, MesloLGS Nerd Font Propo;
  font-size: 14px;
}

/* Waybar */
window#waybar {
  background-color: #0b0c0f;
  opacity: 0.8;
  /* background-color: rgba(24, 27, 32, 0.5); */
  color: #f2e9e1;
  transition-property: background-color;
  transition-duration: 0.5s;
  /* border-radius: 8px; */
}

window#waybar.hidden {
  opacity: 0.2;
}

window#waybar.termite {
  background-color: #3f3f3f;
}

window#waybar.chromium {
  background-color: #0b0c0f;
  border: none;
}

button {
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
  background: inherit;
  box-shadow: inset 0 -3px #f2e9e1;
  background: rgba(0, 0, 0, 0.2);
}

/* Workspaces */
#workspaces button {
  padding: 0 5px;
  background-color: transparent;
  color: #f2e9e1;
}
#workspaces button.urgent {
  background-color: #e95378;
}

/* Commons */
#hyprland-workspaces,
#custom-media,
#clock,
#network,
#cpu,
#memory,
#disk,
#temperature,
#privacy,
#pulseaudio,
#bluetooth,
#backlight,
#power-profiles-daemon,
#battery,
#custom-power {
  padding: 0 10px;
  color: #f2e9e1;
}

#window,
#workspaces {
  margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

/* Endeavour */
#custom-logo {
  padding-right: 7px;
  padding-left: 7px;
  margin-left: 5px;
  border-radius: 8px 0px 0px 8px;
  color: #c4a7e7;
}

/* Disk */
#disk.warning {
  background-color: #f09483;
}

/* Temperature */
#temperature.critical,
#disk.critical {
  background-color: #e95378;
}

/* Battery */
#battery {
  padding: 0 12px;
  /* border-top-right-radius: 8px;
  border-bottom-right-radius: 8px; */
}
#battery.charging {
  color: #f2e9e1;
  background-color: #1ea071;
}

@keyframes blink {
  to {
    background-color: #f2e9e1;
    color: #0b0c0f;
  }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.warning:not(.charging) {
  background-color: #f09483;
}
#battery.critical:not(.charging) {
  background-color: #e95378;
  color: #f2e9e1;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* Power profiles */
#power-profiles-daemon.performance {
  background-color: #e95378;
}
#power-profiles-daemon.power-saver {
  background-color: #1ea071;
}

label:focus {
  background-color: #0b0c0f;
}

/* Pulseaudio */
#pulseaudio-slider {
  border-radius: 4px;
  padding: 5px 0 5px 10px;
}
#pulseaudio-slider slider {
  min-height: 0px;
  min-width: 0px;
  opacity: 0;
  background-image: none;
  border: none;
  box-shadow: none;
}
#pulseaudio-slider trough {
  min-width: 10px;
  background-color: #0b0c0f;
}
#pulseaudio-slider highlight {
  min-width: 10px;
  background-color: #66cc99;
}

#pulseaudio.muted {
  background-color: #111111;
}
#pulseaudio.source-muted {
  color: #e95378;
}

/* Network */
#network.disconnected {
  background-color: #e95378;
}

/* Custom */
#custom-media {
  background-color: #66cc99;
  color: #2a5c45;
  min-width: 100px;
}
#custom-media.custom-spotify {
  background-color: #66cc99;
}
#custom-media.custom-vlc {
  background-color: #ffa000;
}

/* Privacy */
#privacy {
  padding: 0;
}
#privacy-item {
  padding: 0 5px;
  color: white;
}
#privacy-item.screenshare {
  background-color: #f6c177;
}
#privacy-item.audio-in {
  background-color: #1ea071;
}
#privacy-item.audio-out {
  background-color: #3e8fb0;
}

/* Docker */
#custom-docker {
  color: #3e8fb0;
  padding-left: 40px;
}

/* Kubernetes */
#custom-kubernetes {
  color: #c4a7e7;
  padding-left: 40px;
}
